@font-face {
  font-family: NanumSquareRound;
  src: url("/fonts/NanumSquareRoundB.ttf");
  font-style: normal;
  font-weight: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: NanumSquareRound,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
